doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script setTimeout(function(){location.reload();},10000);
    script(type="text/javascript",src="https://www.gstatic.com/charts/loader.js")
    script(type="text/javascript") google.charts.load('current', {'packages':['corechart']});google.charts.setOnLoadCallback(drawChart);function drawChart() {var data = new google.visualization.DataTable();data.addColumn('string', 'Users');data.addColumn('number', 'Bytes');data.addRows([#{lista}]);var options = {'title':#{nome},'height':600,'colors':['red']};var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));chart.draw(data, options);}
    script(type="text/javascript") google.charts.load('current', {'packages':['corechart','line']});google.charts.setOnLoadCallback(drawCurveTypes);function drawCurveTypes() {var data = new google.visualization.DataTable();data.addColumn('number', 'X');data.addColumn('number', '1');data.addColumn('number', '2');data.addColumn('number', '3');data.addColumn('number', '4');data.addColumn('number', '5');data.addColumn('number', '6');data.addColumn('number', '7');data.addColumn('number', '8');data.addColumn('number', '9');data.addColumn('number', '10');data.addRows([#{lista}]);var options = {'title':#{nome},hAxis: {title: 'Tempo'},vAxis: {title: 'Percentagem'},series: {1: {curveType: 'function'}}};var chart = new google.visualization.LineChart(document.getElementById('chart_div_2'));chart.draw(data, options);}
    meta(charset='UTF-8')
  body
    block header
