extends header
block content
	h1 Quotas History
	table.w3-table-all.w3-center.w3-light-grey
		tr
			th Tablespace
			th User
			th Used
			th Max Size
			th Timestamp
		each qu in lista
			tr
				td= qu.name
				td= qu.username
				td= qu.used
				td= qu.max_size
				td= qu.timestamp