extends header
block content
	h1 Tablespaces
	table.w3-table-all.w3-center.w3-light-grey
		tr
			th ID
			th Name
			th Status
			th Free %
			th Timestamp
		each ts in lista
			tr
				td= ts.tablespace_id
				td= ts.name
				td= ts.status
				td= ts.free_percentage
				td= ts.timestamp