extends header
block content
	h1 Users
	table.w3-table-all.w3-responsive.w3-light-grey
		tr
			th ID
			th Username
			th Account Status
			th Expiration Date
			th Default Tablespace
			th Temporary Tablespace
			th Creation Date
			th Timestamp
		each us in lista
			tr
				td= us.user_id
				td= us.username
				td= us.account_status
				td= us.expiration_date
				td= us.default_tablespace
				td= us.temp_tablespace
				td= us.creation_date
				td= us.timestamp